###############################################################################
#                          [control.cfg]
#              Configuration file around the EFI Grub2
###############################################################################

#==============================================================================
#####----{load theme}----
#------------------------------------------------------------------------------
source $prefix/theme.cfg
#==============================================================================

#==============================================================================
#####----{case}----
#------------------------------------------------------------------------------
source $prefix/case.cfg
#==============================================================================

#==============================================================================
#####----{menuentry}----
#------------------------------------------------------------------------------
search --no-floppy --set=root --file $txt_grub
source $txt_grub
#==============================================================================

#==============================================================================
#####----{exit}----
#------------------------------------------------------------------------------
back=$prefix/x86_64-efi/minicmd.mod
search --no-floppy --set=root --file $back
menuentry "Exit" --class "exit" {
	insmod $back
	exit
}
#==============================================================================
